/* Estilo Geral */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    text-align: center;
    scroll-behavior: smooth; /* Suavização ao navegar */
}

h2 {
    color: #333;
}

.container {
    padding: 50px 20px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar .logo a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    color: #dddddd;
}

.textos-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.textos-list li a {
    text-decoration: none;
    color: white;
    background-color: #008cba;
    padding: 10px 15px;
    border-radius: 8px;
    display: inline-block;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.textos-list li a:hover {
    background-color: #005f8c;
    transform: scale(1.05);
}